<div class="grid-container">
    <div class="content-left">
        <h1 style="margin-left: -150px;color: white;">Welcome to Suggestion and Booking System</h1>
    </div>
    <div class="content-right">
        <a href="/index" class="logout-button">Logout</a>
    </div>
</div>